---
layout: default
---

<div class="home">

<p>The HCPSS school site platform is built using an open source tool called Drupal, which has been used by Fortune 500 companies and even the Grammy Awards to build sites and manage content.</p>

<p>Feel free to contact us at <a href="mailto:webmaster@hcpss.org">webmaster@hcpss.org</a> for additional support.</p>

<p style="background-color:#e7e7e7;padding:10px;margin-top:10px;margin-bottom:10px;"><strong>New Feature!</strong> Web Services has rolled out a new node selection tool for an easier content authoring experience. Learn how to <a href="/schoolsites-help/nodes/2014/07/17/contextual/">use this feature</a>.</p>

  <h2>Node Management</h2>

  <ul class="posts">
    {% for post in site.categories.nodes %}
      <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>  

  <h2>Document Management</h2>

  <ul class="posts">
    {% for post in site.categories.files %}
      <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <h2>Media Management</h2>

  <ul class="posts">
    {% for post in site.categories.media %}
      <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <h2>News</h2>

  <ul class="posts">
    {% for post in site.categories.news %}
      <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>  

</div>
