---
layout: default
---

<div class="home">

<p>The HCPSS school site platform is built using an open source tool called Drupal, which has been used by Fortune 500 companies and even the Grammy Awards to build sites and manage content.

<p>Feel free to contact us at <a href="mailto:webmaster@hcpss.org">webmaster@hcpss.org</a> for additional support.</p>

<!-- Begin categories -->

<div class="feature">
<h1>I manage the website for a...</h1>
<p><a href="#es-ms">Elementary School</a></p>
<p><a href="#es-ms">Middle School</a></p>
<p><a href="#hs">High School</a></p>
</div>

   <h2 id="es-ms">Elementary and Middle School Websites</h2>
   <h3>Node Management</h3>

      <ul class="posts">
        {% for post in site.categories.nodes %}
          <li>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>  

      <h3>Document Management</h3>

      <ul class="posts">
        {% for post in site.categories.es-files %}
          <li>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>

      <h3>Media Management</h3>

      <ul class="posts">
        {% for post in site.categories.media %}
          <li>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>

      <h3>News</h3>

      <ul class="posts">
        {% for post in site.categories.news %}
          <li>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>  

   <h2 id="hs">High School Websites</h2>
   <h3>Node Management</h3>
      <ul class="posts">
        {% for post in site.categories.nodes-hs %}
          <li>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul> 

   <h3>Homepage Management</h3>
      <ul class="posts">
        {% for post in site.categories.hs-homepage-edit %}
          <li>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul> 
      
   <h3>Document Management</h3>
      <ul class="posts">
        {% for post in site.categories.files %}
          <li>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>

   <h3>News</h3>
      <ul class="posts">
        {% for post in site.categories.news-hs %}
          <li>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul> 

   <h3>Galleries</h3>
      <ul class="posts">
        {% for post in site.categories.hs-gallery-mgmt %}
          <li>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul> 
  </div>

<!-- End categories -->

</div>
